__pycache__
.coverage
.docker
.git
.github
.gitignore
.idea
.idea_modules
.mypy_cache
.pytest_cache
.python-version
.vscode
.DS_Store

coverage
htmlcov
docs
tests

LICENSE
poetry.toml
*.log
*.md

## Exceptions
!scripts/coverage
