__pycache__
.coverage
.docker
.DS_Store
.git
.github
.gitignore
.idea
.idea_modules
.mypy_cache
.pytest_cache
.python-version
.ruff_cache
.vscode

coverage
htmlcov
docs
tests

LICENSE
poetry.toml
aliases
*.log
*.md

## Exceptions
!scripts/coverage
