## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## Celery
celerybeat-schedule
celerybeat.pid

## Environment
*.env
.env.*
.venv

## IPython
profile_default/
ipython_config.py

## Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
coverage
htmlcov/
nosetests.xml
.cache
.coverage
.coverage.*
.hypothesis/
.nox/
.pytest_cache/
.ruff_cache
.tox/
*.cover
*.py,cover

## Misc
__pypackages__/
.DS_Store
.idea
.idea_modules
.python-version

## mypy
.dmypy.json
.mypy_cache/
dmypy.json

## Sphinx documentation
docs/_build/

## VSCode
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.vscode/*
*.code-workspace

## Exceptions
!scripts/coverage
